<div class="sidebar" data="blue">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="/" class="simple-text logo-normal">
        داشبورد
      </a>
    </div>
    <ul class="nav">
      <li >
        <a href="/instagram">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p><b>اینستاگرام</b></p>
        </a>
      </li>
      <li >
        <a href="/twitter">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p><b>توییتر</b></p>
        </a>
      </li>

      <li >
        <a href="/agency_news">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p><b>خبرگزاری ها</b></p>
        </a>
      </li>

      <li >
        <a href="/telegram_group">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p><b>گروه های تلگرامی</b></p>
        </a>
      </li>
      <li >
        <a href="/telegram_chanel">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p><b>کانال های تلگرامی</b></p>
        </a>
      </li>

      <li >
        <a href="/news/">
          <i class="tim-icons icon-globe-2"></i>
          <p><b>گشت خبر</b></p>
        </a>
      </li>

      <li >
        <a href="/labeling">
          <i class="tim-icons icon-app"></i>
          <p><b>برچسب گزاری</b></p>
        </a>
      </li>

      <li>
        <a href="{% url 'login' %}">
          <i class="tim-icons icon-button-power"></i>
          <p><b>خروج</b></p>
        </a>
      </li>
    </ul>
  </div>
</div>