{% extends 'layouts/base-rtl.html' %}
{% load static %}
{% block extrastyle %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.css" rel="stylesheet" />

{% endblock extrastyle %}
{% block bodyclass %}rtl menu-on-right{% endblock bodyclass %}
{% block sidebar %}
{% include 'includes/rtlsidebar.html' %}
{% endblock sidebar %}
{% block navigation %}
{% include 'includes/navigationrtl.html' %}
{% endblock navigation %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
<div class="content">
  <script src="{% static 'assets/demo/demo.js' %}"></script>
  <script>
    var label_chart11 = "{{ label_chart11 }}";
    var data_chart11 = "{{ data_chart11 }}";
    var label_chart12 = "{{ label_chart12 }}";
    var data_chart12 = "{{ data_chart12 }}";
    var label_chart13 = "{{ label_chart13 }}";
    var data_chart13 = "{{ data_chart13 }}";
    var label_chart2 = "{{ label_chart2 }}";
    var data_chart2 = "{{ data_chart2 }}";
    var label_chart3 = "{{ label_chart3 }}";
    var data_chart3 = "{{ data_chart3 }}";
    var label_chart4 = "{{ label_chart4 }}";
    var data_chart4 = "{{ data_chart4 }}";
    var ui_sunburst_data = "{{ sunburst_data }}".split(',').map(Number) 
  </script>


<script>
  const handleKeyDownForFilterDate = (e) => {
      if (e.key === "Enter") {
          const searchQuery = document.getElementById("test-date-id").value;
          const encodedQuery = encodeURIComponent(searchQuery);
          const url = "/telegram_chanel?charts_time_filter=" + encodedQuery; // Replace with your desired URL
          window.location.href = url;
      }
  };
</script>




  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
          <div class="row">
            <div class="col-sm-6 text-right">
              <h4 class="card-category"></h4>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple active" id="0">
                  <input type="radio" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"> دریافت شده</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"> تحلیل شده</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">معلق</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-tap-02"></i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartBig1"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card card-chart">
        <div class="card-header ">
          <div class="row">
            <div class="col-sm-6 text-right">
              <h4 class="card-category">عملیات روانی</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="myDiv" style="width:100%;height: 600px;"></div>
          <script>
            var data = [{
              type: "sunburst",
              labels: [
                "مسائل مالی و تجهیزات",
                "مسائل عقیدتی و نظامی",
                "تحریک و اعتراض کارکنان",
                "مسائل مدیریتی و اعتمادزدایی",
                "تضادها و اختلاف‌ها",
                "اقدام خودی",
                "نامربوط"
              ],
              parents: [
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              values: ui_sunburst_data,
              outsidetextfont: { size: 20, color: "#377eb8" },
              leaf: { opacity: 0.4 },
              marker: { line: { width: 2 } },
            }];

            var layout = {
              margin: { l: 0, r: 0, b: 0, t: 0 },
              width: 500,
              height: 500
            };

            Plotly.newPlot('myDiv', data, layout);
          </script>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 text-center">
      <div class="card  card-tasks text-right">
        <div class="card-header text-right">
          <h6 class="title d-inline">محدود سازی تاریخ</h6>
        </div>
        <div class="card-body ">
          <div class="card-body">
            <input type="text" id="test-date-id" onkeydown="handleKeyDownForFilterDate(event)">
            <script>
              kamaDatepicker('test-date-id', { buttonsColor: "red", forceFarsiDigits: true });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6 text-center">
      <div class="card-header text-right">
        <h4 class="card-category"> ابر موجودیت روزانه </h4>
        <div>
          <img src="{{ ASSETS_ROOT }}/img/1d_telegram_channel.jpg" alt="...">
        </div>
      </div>
    </div>
    <div class="col-lg-6 text-center">
      <div class="card-header text-right">
        <h4 class="card-category"> ابر موجودیت هفتگی </h4>
        <div>
          <img src="{{ ASSETS_ROOT }}/img/7d_telegram_channel.jpg" alt="...">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 text-center">
      <div class="card-header text-right">
        <h4 class="card-category"> ابر موجودیت یک ماهه </h4>
        <div>
          <img src="{{ ASSETS_ROOT }}/img/30d_telegram_channel.jpg" alt="...">
        </div>
      </div>
    </div>
    <div class="col-lg-6 text-center">
      <div class="card-header text-right">
        <h4 class="card-category"> ابر موجودیت سه ماهه </h4>
        <div>
          <img src="{{ ASSETS_ROOT }}/img/90d_telegram_channel.jpg" alt="...">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 text-right">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-category">منابع خبری تحت پوشش اطلاعاتی</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLinePurple"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-right">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-category">حجم خبری در مورد نیرو های مسلح </h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="CountryChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-right">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-category">حجم خبری غیره مرتبط با اهداف سامانه</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLineGreen"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-6 text-center">
      <div class="card  card-tasks text-right">
        <div class="card-header text-right">
          <h6 class="title d-inline">برتین های</h6>
          <p class="card-category d-inline">امروز</p>
          <div class="dropdown float-left">
            <a class="btn btn-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><i class="tim-icons icon-settings-gear-63"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">براساس زمان</a>
              <a class="dropdown-item" href="#">براساس تعداد کامنت</a>
              <a class="dropdown-item" href="#">براساس تعداد لایک</a>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                {% for news in rank_news_list1 %}
                <tr>
                  <td class="text-center">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td class="text-right">
                    <p class="title">{{ news.clean_context }}</p>
                    <p class="text-muted">{{ news.peer_username }}</p>
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="مهمة تحرير">
                      <i class="tim-icons icon-settings"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 text-center">
      <div class="card  card-tasks text-right">
        <div class="card-header text-right">
          <h6 class="title d-inline">برتین های</h6>
          <p class="card-category d-inline">هفته</p>
          <div class="dropdown float-left">
            <a class="btn btn-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><i class="tim-icons icon-settings-gear-63"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">براساس زمان</a>
              <a class="dropdown-item" href="#">براساس تعداد کامنت</a>
              <a class="dropdown-item" href="#">براساس تعداد لایک</a>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                {% for news in rank_news_list2 %}
                <tr>
                  <td class="text-center">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td class="text-right">
                    <p class="title">{{ news.clean_context }}</p>
                    <p class="text-muted">{{ news.peer_username }}</p>
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="مهمة تحرير">
                      <i class="tim-icons icon-settings"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>

{% endblock javascripts %}